.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: aqua;

}

h1 {
  padding: 20px 80px 20px 80px;
  font-size: 32px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 800;
  color: hsl(200, 15%, 8%)
}

h4 {
  padding: 20px 80px 20px 80px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 600;
  color: hsl(200, 15%, 8%);
}