.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: var(--bg-color-light);
  box-shadow: 4px 3px 10px 1px var(--box-shadow-light);

}

.dark-mode .navbar {
  background-color: var(--bg-color-dark);
  box-shadow: 4px 3px 10px 1px var(--box-shadow-dark);
}

.dark-mode h1, .dark-mode h4, .dark-mode .dark-icon {
  color: var(--text-color-dark);
}

h1 {
  padding: 20px 80px 20px 80px;
  font-size: 25px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 800;
  color: hsl(200, 15%, 8%);
}

h4 {
  padding: 20px 80px 20px 80px;
  font-size: 16px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 600;
  color: hsl(200, 15%, 8%);
}

.dark-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.dark-mode-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}