.search-container {
  position: relative;
  display: inline-block;
}

.search {
  padding: 15px 60px 15px 70px;
  height: 55px;
  width: 480px;
  font-size: 14px;
  color: var(--text-color-light);
  border-radius: 5px;
  border: none;
  font-family: "Nunito Sans", Arial, sans-serif;
  box-shadow: 4px 3px 10px 1px var(--box-shadow-light);
}

.dark-mode .search {
  color: var(--text-color-dark);
  box-shadow: 4px 3px 10px 1px var(--box-shadow-dark);
  background-color: var(--bg-color-dark);
}

.search-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  color: var(--text-color-light);
}

.dark-mode .search-icon {
  color: var(--text-color-dark);
}

@media (max-width: 1024px) {
  .search {
    width: 400px;
    font-size: 13px;
    padding: 15px 50px 15px 60px;
  }

  .search-icon {
    left: 25px;
    width: 20px;
    height: 20px;
  }
}


@media (max-width: 768px) {
  .search {
    width: 300px;
    height: 50px;
    font-size: 12px;
    padding: 12px 50px 12px 55px;
  }

  .search-icon {
    left: 20px;
    width: 18px;
    height: 18px;
  }
}


@media (max-width: 480px) {
  .search {
    width: 250px;
    height: 45px;
    font-size: 12px;
    padding: 10px 45px 10px 50px;
  }

  .search-icon {
    left: 15px;
    width: 16px;
    height: 16px;
  }
}