.search-container {
  position: relative;
  display: inline-block;
}

.search {
  padding: 15px 60px 15px 70px;
  height: 55px;
  width: 480px;
  font-size: 14px;
  color: var(--text-color-light);
  border-radius: 5px;
  border: none;
  font-family: "Nunito Sans", Arial, sans-serif;
  box-shadow: 4px 3px 10px 1px var(--box-shadow-light);
}

.dark-mode .search {
  color: var(--text-color-dark);
  box-shadow: 4px 3px 10px 1px var(--box-shadow-dark);
}

.search-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  color: var(--text-color-light);
}

.dark-mode .search-icon {
  color: var(--text-color-dark);
}